# Byte-compiled / cache / logs
__pycache__/
*.py[cod]
*$py.class
.vscode/
lightning_logs/
.ipynb_checkpoints
tune_logs/
*.toml
*.egg-info
# Ignore everything inside models/ EXCEPT what we whitelist
models/**
# Allow specific subfolders
!models/LSTM/**
!models/transformer/**
!models/XGboost/**
!models/*.py
!models/*.md
!models/README
# Data folder
data/**/*
# Playground: ignore all except notebooks
play_grounds/**
play_grounds/models/saved_models/**
!play_grounds/templates/**
!play_grounds/*.ipynb
experiments/**